swagger: "2.0"
info:
  version: 1.0.0
  title: sugrocks
  description: You can use our API to get the recent /sug/ threads, OP template, latest leaks (if available) and downloads !
  contact:
    name: Kody
    email: kdy@waifu.club
    url: https://sug.rocks
  license:
    name: MIT
host: sug.rocks
basePath: /api
schemes:
  - https
produces:
  - application/json
paths:
  /threads.json:
    get:
      description: |
        Returns all found threads
      operationId: threads
      responses:
        200:
          description: thread list
          schema:
            type: array
            items:
              $ref: '#/definitions/Thread'
  /op.json:
    get:
      description: |
        Returns the OP template
      operationId: op
      responses:
        200:
          description: op template
          schema:
            type: object
            required:
              - subject
              - content
            properties:
              subject:
                type: string
                default: "/sug/ - Steven Universe General"
                description: "The subject for the OP"
              content:
                type: string
                default: "[TITLE] Edition\n\nLast Thread: >>[POST]\n\n[NEW RELEASES]\n{...}"
                description: "The template"
  /leaks.json:
    get:
      description: |
        Returns all found leaks
      operationId: leaks
      responses:
        200:
          description: leaks list
          schema:
            type: array
            items:
              $ref: '#/definitions/Leaks'
  /dl.json:
    get:
      description: |
        Returns all downloads
      operationId: dl
      responses:
        200:
          description: download list
          schema:
            type: array
            minItems: 2
            maxItems: 3
            items:
              $ref: '#/definitions/Dl'
definitions:
  ThreadStatus:
    required:
      - bump_limit
      - image_limit
      - archived
    properties:
      bump_limit:
        type: boolean
        default: false
        description: "If the thread has reached the bump limit."
      image_limit:
        type: boolean
        default: false
        description: "If the thread has reached the image limit."
      archived:
        type: boolean
        default: false
        description: "If the thread is currently archived on 4chad (read-only)."
  Thread:
    required:
      - id
      - board
      - timestamp
      - edition
      - page
      - status
      - url
      - archive
      - media
      - op
    properties:
      id:
        type: integer
        format: int32
        minimum: 0
        description: "Thread's ID."
      board:
        type: string
        default: "co"
        description: "Board's code. Can be `co`, `trash` or `sugen`."
      timestamp:
        type: integer
        minimum: 1483228800
        maximum: 1514764800
        description: "Timestamp when the thread was created."
      edition:
        type: string
        default: "It's a thing Edition"
        description: "Parsed OP with extracted edition name."
      page:
        type: integer
        format: int32
        minimum: 0
        maximum: 10
        description: "Page in the catalogue. Doesn't apply to `/sugen/`."
      status:
        type: object
        $ref: '#/definitions/ThreadStatus'
        description: "Defines thread status."
      url:
        type: string
        default: "https://boards.4chan.org/{board}/thread/{id}"
        description: "Link to the thread."
      archive:
        type: string
        default: "https://desuarchive.org/{board}/thread/{id}"
        description: "Link to the archives. Doesn't apply to `/sugen/`."
      media:
        type: string
        default: "https://is.4chan.org/{board}/{mediaid}s.{ext}"
        description: "Link to the attached media to the OP. With `/sugen/`, this is only the first media."
      op:
        type: string
        description: "OP's full text"

  LeaksMedia:
    required:
      - url
    properties:
      url:
        type: string
        description: "URL to the file"
        default: "https://{host}/leaks/{file}"
  Leaks:
    required:
      - id
      - title
      - desc
      - date
      - air_date
      - images
      - videos
    properties:
      id:
        type: integer
        format: int32
        minimum: 0
        description: "Leaks' ID."
      title:
        type: string
        description: "Episode's title."
      desc:
        type: string
        description: "Episode's synopsis."
      date:
        type: integer
        minimum: 1483228800
        maximum: 1514764800
        description: "Timestamp of when the leak was found."
      air_date:
        type: integer
        minimum: 1483228800
        maximum: 1514764800
        description: "Timestamp to the air date."
      images:
        type: array
        items:
          $ref: '#/definitions/LeaksMedia'
        description: "Found images."
      videos:
        type: array
        items:
          $ref: '#/definitions/LeaksMedia'
        description: "Found images."

  DlDetails:
    required:
      - id
      - season
      - episode
      - title
      - url
      - marebucks
      - dailymotion
      - torrent
    properties:
      id:
        type: integer
        format: int32
        minimum: 0
        maximum: 150
        description: "Download ID."
      season:
        type: string
        pattern: "[1-5]"
        description: "Season number or `Specials`"
      episode:
        type: string
        pattern: "[1-99]"
        description: "Episode number. When two episodes are in one file, there's an underscore between episodes numbers."
      title:
        type: string
        description: "Episode's title."
      direct:
        type: string
        default: "https://dl.{host}/{path}"
        description: "Direct download link. (Can be `null`)"
      marebucks:
        type: string
        default: "https://marebucks/sun/{episode}"
        description: "Marebucks link. (Can be `null`)"
      dailymotion:
        type: string
        default: "www.dailymotion.com/video/{videoid}"
        description: "Dailymotion link. (Can be `null`)"
      torrent:
        type: string
        default: "https://dl.{host}/{path}"
        description: "Torrent download link. (Can be `null`)"
  Dl:
    required:
      - category
    properties:
      category:
        type: array
        items:
          $ref: '#/definitions/DlDetails'
        description: "Category for the downloads. Can be `preair`, `itunes` or `individual`"