swagger: "2.0"
info:
  version: 1.0.0
  title: sugrocks
  description: You can use our API to get the recent /sug/ threads, OP template, latest leaks (if available) and downloads !
  contact:
    name: Kody
    email: kdy@waifu.club
    url: https://sug.rocks
  license:
    name: MIT
host: api.sug.rocks
schemes:
  - https
produces:
  - application/json
paths:
  /threads.json:
    get:
      description: |
        Returns all found threads
      operationId: threads
      responses:
        200:
          description: thread list
          schema:
            type: array
            items:
              $ref: '#/definitions/Thread'
  /op.json:
    get:
      description: |
        Returns the OP template
      operationId: op
      responses:
        200:
          description: op template
          schema:
            type: object
            required:
              - subject
              - content
            properties:
              subject:
                type: string
                default: "/sug/ - Steven Universe General"
                description: "The subject for the OP"
              content:
                type: string
                default: "[TITLE] Edition\n\nLast Thread: >>[POST]\n\n[NEW RELEASES]\n{...}"
                description: "The template"
  /schedule.json:
    get:
      description: |
        Returns a copy of Cartoon Network’s schedule for Steven Universe
      operationId: schedule
      responses:
        200:
          description: schedule
          schema:
            type: object
            required:
              - date
              - id
              - time
              - timestamp
              - title
            properties:
              date:
                type: string
                default: "March 03"
                description: "Date when the block starts (EST timezone)"
              id:
                type: integer
                format: int32
                default: 2065557
                description: "Unique ID from CN"
              time:
                type: string
                default: "7:00 PM"
                description: "Time when the block starts (EST timezone)"
              timestamp:
                type: integer
                format: int32
                default: 1488585600
                description: "Epoch timestamp for this airing"
              title:
                type: string
                default: "Tiger Philanthropist"
                description: "The name of the episodes during this block"
  /leaks.json:
    get:
      description: |
        Returns all found leaks
      operationId: leaks
      responses:
        200:
          description: leaks list
          schema:
            type: array
            items:
              $ref: '#/definitions/Leaks'
  /dl.json:
    get:
      description: |
        Returns all downloads
      operationId: dl
      responses:
        200:
          description: download list
          schema:
            type: object
            $ref: '#/definitions/Dl'
definitions:
  ThreadStatus:
    required:
      - archived
      - bump_limit
      - image_limit
    properties:
      archived:
        type: boolean
        default: false
        description: "If the thread is currently archived on 4chad (read-only)."
      bump_limit:
        type: boolean
        default: false
        description: "If the thread has reached the bump limit."
      image_limit:
        type: boolean
        default: false
        description: "If the thread has reached the image limit."
  Thread:
    required:
      - archive
      - board
      - edition
      - id
      - media
      - op
      - page
      - status
      - timestamp
      - url
    properties:
      archive:
        type: string
        default: "https://desuarchive.org/{board}/thread/{id}"
        description: "Link to the archives. Doesn't apply to `/sugen/` (returns null)."
      board:
        type: string
        default: "co"
        description: "Board's code. Can be `co`, `trash` or `sugen`."
      edition:
        type: string
        default: "It's a thing Edition"
        description: "Parsed OP with extracted edition name."
      id:
        type: integer
        format: int32
        minimum: 0
        description: "Thread's ID."
      media:
        type: string
        default: "https://is.4chan.org/{board}/{mediaid}s.{ext}"
        description: "Link to the attached media to the OP. With `/sugen/`, this is only the first media."
      op:
        type: string
        description: "OP's full text"
      page:
        type: integer
        format: int32
        minimum: 0
        maximum: 11
        description: "Page in the catalogue. Doesn't apply to `/sugen/` (returns 0)."
      status:
        type: object
        $ref: '#/definitions/ThreadStatus'
        description: "Defines thread status."
      timestamp:
        type: integer
        minimum: 1483228800
        maximum: 1514764800
        description: "Timestamp when the thread was created."
      url:
        type: string
        default: "https://boards.4chan.org/{board}/thread/{id}"
        description: "Link to the thread."

  LeaksMedia:
    required:
      - url
    properties:
      url:
        type: string
        description: "URL to the file"
        default: "https://{host}/leaks/{file}"
  Leaks:
    required:
      - air_date
      - date
      - desc
      - id
      - images
      - title
      - videos
    properties:
      air_date:
        type: integer
        minimum: 1483228800
        maximum: 1514764800
        description: "Timestamp to the air date."
      date:
        type: integer
        minimum: 1483228800
        maximum: 1514764800
        description: "Timestamp of when the leak was found."
      desc:
        type: string
        description: "Episode's synopsis."
      id:
        type: integer
        format: int32
        minimum: 0
        description: "Leaks' ID."
      images:
        type: array
        items:
          $ref: '#/definitions/LeaksMedia'
        description: "Found images."
      title:
        type: string
        description: "Episode's title."
      videos:
        type: array
        items:
          $ref: '#/definitions/LeaksMedia'
        description: "Found images."

  DlDetails:
    required:
      - dailymotion
      - date
      - episode
      - id
      - marebucks
      - season
      - title
      - torrent
      - url
    properties:
      dailymotion:
        type: string
        default: "www.dailymotion.com/video/{videoid}"
        description: "Dailymotion link. (Can be `null`)"
      date:
        type: integer
        minimum: 1483228800
        maximum: 1514764800
        description: "Timestamp of when the download was added."
      episode:
        type: string
        pattern: "[1-99]"
        description: "Episode number. When two episodes are in one file, there's an underscore between episodes numbers."
      id:
        type: integer
        format: int32
        minimum: 1
        description: "Download ID for this category."
      marebucks:
        type: string
        default: "https://marebucks/sun/{episode}"
        description: "Marebucks link. (Can be `null`)"
      season:
        type: string
        pattern: "[1-5]"
        description: "Season number or `Special`"
      title:
        type: string
        description: "Episode's title."
      torrent:
        type: string
        default: "https://dl.{host}/{path}"
        description: "Torrent download link. (Can be `null`)"
      direct:
        type: string
        default: "https://dl.{host}/{path}"
        description: "Direct download link. (Can be `null`)"
  Dl:
    required:
      - category
    properties:
      category:
        type: array
        items:
          $ref: '#/definitions/DlDetails'
        description: "Category for the downloads. Can be `preair`, `itunes` or `individual`"